#[submodule "docs"]
#	path = docs
#	url = https://github.com/laraxot/doc_lang.git

#packages
[submodule "laravel/Modules/Lang/packages/lara-zeus/spatie-translatable"]
	path = laravel/Modules/Lang/packages/lara-zeus/spatie-translatable
	url = git@github.com:laraxot/spatie-translatable.git
